@import './base.css';
@import 'bootstrap';
@import 'bootstrap-icons';

.nav-link {
  color: whitesmoke;
}

.nav-link:hover{
  color: #115ebb;
}

.nav-link:focus {
  color: #5d9fee;
}

.uniform-size span {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  
}
.uniform-size label {
  width: 140px;
}
.uniform-size select {
  width: 70px;
}
.uniform-size label,
.uniform-size select {
  
  box-sizing: border-box;
  padding: 8px; 
  font-size: 14px;
  margin-bottom: 10px;
 }
.uniform-size label {
   color: #333;
 }
.uniform-size select {
   background-color: #fff; 
   border: 1px solid #ccc;
 }

 .reservationPeriodContainer{
  display: flex;
 }

 .reservationPeriod:last-of-type {
  margin: auto
}

.reservationPeriodYear,.reservationPeriodWeek {
  width:300px;
}
.reservationPeriodYear>label,
.reservationPeriodYear>select,
.reservationPeriodWeek>label,
.reservationPeriodWeek>select{
  width:140px;
}